---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout>
    <p>Some copy about how humans make cool stuff</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend,
        dui sed luctus varius, arcu est porttitor lacus, in tempor ipsum ipsum
        ac quam. Ut commodo dolor neque, sed mollis risus venenatis in.
        Phasellus tincidunt est nec nunc consectetur posuere. Cras a eros vel
        libero sagittis porttitor vitae nec eros. Curabitur a finibus nibh.
        Nullam cursus ultrices dui vitae feugiat. Phasellus faucibus convallis
        ante eget malesuada. Fusce iaculis libero malesuada massa cursus
        imperdiet eu eget arcu.
    </p>
    <p>Featured content</p>
    <a href="/submit" class="btn">Want to suggest something?</a>
</Layout>
