---
import Layout from "@layouts/BaseLayout.astro";
import SubmitForm from "@components/SubmitForm.astro";
---

<Layout>
    <h2 class="text-center">Submit media to be featured on unearth.club!</h2>
    <SubmitForm />
</Layout>
